.question-container-col-chart {
  width: 100%;
  height: 515px !important;
  padding-bottom: 36px;
}
.question-col-chart {
  width: 80%;
  height: 700px;
  // display: flex;
}
// .column-chart-card-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .recharts-surface {
//     height: 523px !important;
// }
