.confrim-btn-main {
  margin-top: 10px !important;
  display: flex !important;
  justify-content: flex-end !important;
  /* justify-content: center !important; */
}

.confrim-btn {
  margin-left: 10px !important;
}
