/* .MuiAutocomplete-root .MuiAutocomplete-tag {
  background-color: #8773a4 !important;
}

.MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  color: white !important;
}
.MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon
{
    color: white !important;
} */
