################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vscode
.DS_Store
*.db
publish
*.vs
.suo
.db
*.cache
node_modules
package-lock.json
# **/appsettings.json
# **/appsettings.Development.json
# *.Development.json
# appsettings.Development.json
# **/**/appsettings.Development.json
.vs/VSWorkspaceState.json