.delegateLeader {
  color: #0d0c22 !important;
  /* font-family: GT Walsheim Pro !important; */
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 550 !important;
  line-height: 120% !important;
}
