.my-approval-title {
  box-sizing: inherit;
  background: #4f2d7f;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-transform: capitalize !important;
}

#myapprovalgrid {
  padding-top: 9px;
}

.my-approval-label {
  text-transform: capitalize !important;
}

.approvalaggrid .download-icon {
  display: none !important;
}
