.stacks {
  /* overflow-y: scroll;
  height: 100%; */
}

.filter-header .MuiTypography-root {
  font-size: 24px !important;
  font-weight: 600;
  /* font-family: "GT Walsheim Pro, Medium" !important; */
  display: flex !important;
  justify-content: center !important;
}

.filter-btn-container {
  margin-top: 14px !important;
  display: flex;
  justify-content: center !important;
}

.filter-control-container {
  margin-bottom: 14px !important;
}

.outlined-box {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 16px;
  background-color: #fff;
  height: 86vh;  
}

/* filter card */
.card-style {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: auto;
  max-height: 660px;
}