.router-guard-modal {
  // font-family: "GT Walsheim Pro, Regular" !important;
}

.router-guard-modal-header {
  // font-family: "GT Walsheim Pro, Regular" !important;
}
.dialog-box-header {
  display: flex;
  align-items: center;
  margin: 10px !important ;
  margin-bottom: 20px !important;
  flex-direction: column;
}
